/* styles/productDetailsModal.css */

.modal-header {
    border-bottom: 1px solid #dee2e6;
  }
  
  .modal-footer {
    /* border-top: 1px solid #dee2e6; */
  }
  
  .modal-body {
    font-size: 0.95rem;
  }
  
  .modal-body .row {
    /* border-bottom: 1px dashed #e0e0e0; */
    padding-bottom: 8px;
  }
  