/* WholeSaleOrdersLayer.css */
.nav-pills.red-tabs .nav-link {
  color: #111;
  border: 1px solid #f5f6fa;
  background-color: #f5f6fa;
  font-weight: 500;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
}

.nav-pills.red-tabs .nav-link.active {
  background-color: #f6993f !important;
  color: #fff !important;
}